@import "tailwindcss";

:root {
  cursor: none;
  --black-linear-gradient: linear-gradient(
    180deg,
    rgb(16, 16, 16) 0%,
    rgb(25, 25, 25) 100%
  );
  --white-linear-gradient: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(237, 237, 237, 1) 100%
  );
  --metal-white-linear: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(248, 248, 248, 1) 100%
  );

  --linear-gradient-green: linear-gradient(
    180deg,
    #F0FE92 0%,
    #ECFF77 100%
  );

  --color-gray: #f5f5f5;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0px;
  margin: 0px;
  background-color: var(--color-white);
}

.bg-linear-green {
  background: var(--linear-gradient-green);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-black-linear {
  background: var(--black-linear-gradient);
}
.bg-white-linear {
  background: var(--white-linear-gradient);
}
.bg-white-metal {
  background: var(--color-white);
  background: var(--metal-white-linear);
}

.metal-paper {
  box-shadow: 0px 0px 2px 0px rgb(146 146 146 / 42%),
    0px 0px 5px 0px rgb(0 0 0 / 4%), 0px 0px 1px 0px rgb(230 230 230 / 48%),
    0px 0px 0px 1px rgb(72 72 72 / 5%);
  border-radius: 10px;
  padding: 10px;
}

b {
  color: var(--color-gray-700);
}

.glow {
  box-shadow: 0px 0px 210px 58px var(--color-yellow-200),
    0px 0px 200px 20px rgb(255 255 255 / 30%),
    inset 0px 0px 50px 0px rgb(255 255 255 / 20%);
}

span {
  display: inline-block;
}