@import "tailwindcss";

:root {
  /* cursor: none; */
  font-family: SF Pro Display;
}

body {
  background-color: var(--color-white);
}

.bg-linear-green {
  background: var(--linear-gradient-green);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-black-linear {
  background: var(--black-linear-gradient);
}
.bg-white-linear {
  background: var(--white-linear-gradient);
}
.bg-white-metal {
  background: var(--color-white);
  background: var(--metal-white-linear);
}

.metal-paper {
  box-shadow: 0px 0px 2px 0px rgb(146 146 146 / 42%),
    0px 0px 5px 0px rgb(0 0 0 / 4%), 0px 0px 1px 0px rgb(230 230 230 / 48%),
    0px 0px 0px 1px rgb(72 72 72 / 5%);
  border-radius: 10px;
  padding: 10px;
}

b {
  color: var(--color-gray-700);
}

.glow {
  box-shadow: 0px 0px 210px 58px var(--color-yellow-200),
    0px 0px 200px 20px rgb(255 255 255 / 30%),
    inset 0px 0px 50px 0px rgb(255 255 255 / 20%);
}

span {
  display: inline-block;
}

.mesh {
  background-color: #99d3ff;
  background-image: radial-gradient(
      at 14% 11%,
      hsla(269, 73%, 60%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 35% 70%, hsla(237, 98%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 8% 99%, hsla(116, 80%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 42%, hsla(42, 87%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 84%, hsla(2, 60%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 53%, hsla(9, 78%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 4%, hsla(333, 60%, 68%, 1) 0px, transparent 50%);
}

a {
  cursor: none;
}

.mesh2 {
  height: 100px;
  width: 100px;
  clip-path: url(#clip-path);
  background-color: #99fff8;
  background-image: radial-gradient(
      at 49% 56%,
      hsla(87, 90%, 75%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 97% 89%, hsla(310, 89%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 81%, hsla(238, 76%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 25% 19%, hsla(160, 95%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 55%, hsla(82, 98%, 68%, 1) 0px, transparent 50%);
}
